################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AZ/bin/Debug
/AZ/obj/Debug
